@import url('https://fonts.googleapis.com/css2?family=Ponomar&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: linear-gradient(90deg, #A33C90 0%, rgba(119, 227, 191, 0) 30%, rgba(119, 227, 191, 0) 70%, #533CA3 100%), #77E3BF;
    width: 100%;
}

.btn1 {
    background: #FFE043;
    border: 10px solid #FFE043;
    box-shadow: 0px 6px 8px rgba(45, 36, 97, 0.25);
    border-radius: 50px;
    font-family: 'Ysabeau Infant';
    font-size: 30px;
    color: #74689C;
    font-weight: bold;
    cursor: pointer;
}

.btn2 {

    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-radius: 50px;
    font-family: 'Ysabeau Infant';
    font-weight: 700;
    font-size: 25px;
    color: #74689C;
    cursor: pointer;
}

.btn3 {
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-radius: 50px;
    font-family: 'Ysabeau Infant';
    font-weight: 700;
    font-size: 25px;
    color: #74689C;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 50px auto;
}

.buttons-container{
    display: flex;
    flex-direction: column;
}

.title {  
    font-family: 'Ysabeau Infant';
    font-style: normal;
    font-weight: 750;
    font-size: 50px;
    color: #74689C;
    text-shadow: 3px 4px 0px #FFC233;
    margin:0px;
    margin-bottom:40px;
}

.generation {
    font-size: 30px;
    height: 200px;
    border-radius: 50px;
    font-family: 'Ysabeau Infant';
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(24, 22, 57, 0.4);
    border: 15px solid  #9DA2D5;
}

.button {

    background: #FFE043;
    border: 10px solid #FFE043;
    box-shadow: 0px 6px 8px rgba(45, 36, 97, 0.25);
    border-radius: 50px;
    font-family: 'Ysabeau Infant';
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0.1px;
    color: #74689C;
    cursor: pointer;
    margin-top:30px;
}



img {
    width: 400px;
    transition: transform 0.2s ease-out;
}

body {
    margin: 0;
}

img:hover {
    transform: translate(50px, -50px);
}

